# General
*.log
*.pyc
*.settings
*.venv

# Source
LibreOfficePortable_*_MultilingualStandard.paf.exe
LibreOfficePortable
LibreOfficePortable.zip
Tools

# Documentation
/Documentation/Installation/PackageInfos.xlsx
